.lead { 
  font-family: "Hannari";
  font-size: 1.1rem;
  
}
body{font-family: 'Alegreya Sans SC', sans-serif;}

.jumbotron{
  /*background:#ff7878;グレーうそつくな*/
  /*background:#363636;*/
  text-align: center;
  background: #204969;
}
.jumbotron h1{
  color:#fff;
}
.jumbotron p{
  color:#fff;
}

.display-4, .lead{
  color:#fff;
  
  
}
article{
  background:#204969;
  min-height: 100vh;
}
.lead{
  padding-bottom: 10px;
  display: inline-block;
  border-bottom:5px solid #08ffc8;
}