ul {
  list-style: none;
}

/*これはいる*/
nav a:hover{
color:#27E1CE;
border-bottom:3px solid #27E1CE;
}

header{
  background:#fff7f7;
  
}
.navbar-collapse{/*ハンバーガーのバックグラウンド*/
  background:#fff7f7;
}
.navbar-nav{
  font-family: 'Alegreya Sans SC', sans-serif;
}