// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ここからindex.html.erb


#product-list-mozi{
  color:#000;
  font-weight: bold
}
#chatroom-mozi{
  color:#000;
  font-weight: bold
}
//ここまで

//ここから　new.htwml.erb(プロダクトの新規作成)
#new-product{
  color:#000;
}
//
#comment-list{
  color:#000;
}

//products.show
.icon-product-show-page {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  
}
#product-show-destroy{
  color:red;
}
#product-show-edit{
  color:orange;
}

#product-show-index{
  color:blue;
}

#product-show-show{
  color:orange;
}
//

#product-index-iine{
  color:#008000;
}
.iine_green{color:green;}

#product-new-save{
  color:#ff8c00;
}

//新たなスタート

.link_color{
  color:#000;
}
//product.index

.icon-product-page {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
  margin: 5px 0 0 5px ;
}

//
body,ul,h1,h2,p {	  margin: 0;	  padding: 0;	}	
.wrap {	  width: 100%;	  max-width: 560px;	  margin: 0 auto;	}	

section {	 
  border: 1px solid #E6ECF0;
  
}	
section:last-child {	  margin: 0;	}	

.flex {	  display: flex;	}	

h2 {	  font-size: 18px;	  margin: 10px 0 10px 5px;	}	
p {	  font-size: 14px;	}	
p.date{	  margin: 10px 10px 0 auto;	  color: #6E7F8D;
font-size: 14px;}	

.contents {	  flex-wrap: wrap;	  margin: 0 10px 0 56px;	}	
.text {	  width: 100%;	  margin: -8px 0 0 0;	}	
section{
  background: #fff;
}
.iine-icon{margin: 0 0 0 auto;}


//いいねランキング（カード内容）
.card-title{
  font-size: 18px;
  text-align: center;
}
.card-subtitle{
  text-align: center;
}





//いいねランキング


.iine-ranking {
 position: relative;
  margin: 30px;
  text-align: center;
}

.iine-ranking:before,
.iine-ranking:after {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  display: block;
  content: '';
  border: 1em solid #d90606;
}

.iine-ranking:before {
  left: -30px;
  border-left-width: 15px;
  border-left-color: transparent;
}

.iine-ranking:after {
  right: -30px;
  border-right-width: 15px;
  border-right-color: transparent;
}

.iine-ranking span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1rem 2rem;
  color: #fff;
  background: #fa4141;
}

.iine-ranking span:before,
.iine-ranking span:after {
  position: absolute;
  bottom: -10px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-style: solid;
  border-color: #b70505 transparent transparent transparent;
}

.iine-ranking span:before {
  left: 0;
  border-width: 10px 0 0 10px;
}

.iine-ranking span:after {
  right: 0;
  border-width: 10px 10px 0 0;
}

//使用言語検索
.language-search{
  position: relative;
  padding: 1rem .5rem;
  color: #fff;
  text-align: center;
  
}
.language-search:before,
.language-search:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 2px;
  
}

.language-search:before {
  top: 0;
}

.language-search:after {
  bottom: 0;
}
//


.laguage-search-cover{background:#fff7f7}