// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ここからindex.html.erb
#product-chart{
  background-size:cover;

  background-image:image-url('product1.jpg')
}

#product-list-mozi{
  color:#000;
  font-weight: bold
}
//ここまで

//ここから　new.htwml.erb(プロダクトの新規作成)
#new-product{
  color:#000;
}
//
#comment-list{
  color:#000;
}
//product.index
.icon-product-page {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  overflow: hidden;
}
//

//products.show
.icon-product-show-page {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
}
//