// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_card{
  /*いる？？*/
    display:inline-block;
}

.navbar{
    height:80px;
    
}

@media only screen and (max-width: 768px) {
#nav-bar {
z-index:100;
}

}


//アカウント登録ページ
.big-bg{
  background-size:cover;
  
  background-repeat: no-repeat;
  background-position:center top;
  padding-top:40px;
}

#home{
  min-height: 100vh;
  background-image:image-url('signin-page.jpg')
}

.first-message-signin{
  color:#fff;
  font-family: "Hannari";
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
//ここまで


#nav-bar{
  z-index:1000;
}

.card-header{
  float:left;
}

#edit-username{
  color:#000;
}

//横並びできたーーーーーーーーーーーーーーーーーーーー(edit.html.erb)
.return-button p{
  display:inline-block;
}


//ここからindex.html.erb
#user-chart{
  #height:1100px;
  min-height: 100vh;
  background-image:image-url('userlist.jpg')
}

#user-list-mozi{
  color:#000;
  font-weight: bold
}
//ここまで




.icon {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  overflow: hidden;
}

#user-show-name{
  display:flex;
  vertical-align: middle;
}
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

.icon-user-page {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  overflow: hidden;
}
.card-user{
  border-left:5px solid #08ffc8;
}
.small-comment{
  font-size: 14px;
}

//ユーザーが今まで作ってきたもの
.table{background:#F5F7FA}