// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_card{
  /*いる？？*/
    display:inline-block;
}

.navbar{
    height:80px;
}








//アカウント登録ページ
.big-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center top;
    padding-top:40px;
}

#home{
  height:800px;
  background-image:image-url('home.jpg')
}

.form-group,.first-message-signup,.second-message-signup{
  color:#fff;
}
.first-message-signup{
  font-size:70px;
}
.second-message-signup{
  font-size:40px;
  padding-top:30px;
}
//ここまで










#nav-bar{
  z-index:1000;
}

.card-header{
  float:left;
}

#edit-username{
  color:#000;
}

//横並びできたーーーーーーーーーーーーーーーーーーーー(edit.html.erb)
.return-button p{
  display:inline-block;
}











//ここからindex.html.erb
#user-chart{
  height:1100px;
  background-image:image-url('userlist.jpg')
}

#user-list-mozi{
  color:#fff;
  font-weight: bold
}
//ここまで












//ログインページここから
.first-message-login{
  font-size:70px;
}
.second-message-login{
  font-size:40px;
  padding-top:30px;
}
//ここまで

.icon {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  overflow: hidden;
}

#user-show-name{
  display:flex;
  vertical-align: middle;
}