<!--フラッシュメッセージを受け取ってmessage_typeにはsuccessかdangerかが代入され、
messageにはcontroller内に記述した”ログインに成功しました”などが代入される-->
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>