<% if user.products.any? %>
  
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">タイトル</th>
          <th scope="col">作成日</th>
          
        </tr>
      </thead>
      <tbody>
        <!--テーブルの数字を増やしたい-->
        <%  num=1 %>
        <% user.products.each do |product| %>
          <tr>
            <th scope="row"><%= num %></th>
            <% num+=1 %>
            <td>
              <%= link_to product_path(product) do %>
                『&nbsp;<%= product.title  %>&nbsp;』
              <% end %>
            </td>
            <td><%= product.created_at.strftime("%Y.%m/%d")  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

        <!--そのユーザーのプロダクトのタイトル-->
        
   
    
  
<% end %>